<!-- see Authentication Views > All authentication views > class LoginView for what has to be implemented here, what's passed in, etc -->

{% extends 'planner/base.html' %}


{% block content %}

{% if user.is_authenticated %}
    <script>
        function redirect(){
           window.location.href = '{% url 'planner:index' %}';
        }

        setTimeout(redirect, 1); //2000 is equivalent to 2 seconds
    </script>
{% else %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            {{ form.as_p }}
            <small class="text-muted">
                <a class="ml-2" href=" {% url 'users:password_reset' %} ">Forgot your password?</a>
                                                        <!-- change href to  url 'users:password_reset'  after bugs fixed -->
            </small>
        </fieldset>
        <div class="form-group">
            <button type="submit" class="signin">Login</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Don't Have an Account Yet? <a class="ml-2" href=" {% url 'users:register' %} ">Sign Up</a>
        </small>
    </div>
</div>
{% endif %}

{% endblock %}
