<!-- page shown after a user has been emailed a link to reset their password -->
<!-- If the email address provided does not exist in the system, the user is inactive, or has an unusable password,
    the user will still be redirected to this view but no email will be sent -->

{% extends 'planner/base.html' %}

{% block content %}

<div class="top">
    <div class="title">
        <h1>plan it.</h1>
    </div>
    <div class="subheading">
        <p>Password Successfully Reset</p>
    </div>
</div>

{% endblock %}
