html, body {margin:0;padding:0;height:100%;}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 40px;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    color: #05c9ff;
    border-style: ridge;
    border-color: #05c9ff;
    border-width:3px;
}

body {
    background-color: #24272d;
    color: #f0e9d8;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.top {
    text-align: center;
    background-color: #1a1b1c;
    padding-top: 90px;
}

.subheading {
    text-align: center;
    background-color: #1a1b1c;
    border-bottom: 4px solid #f0e9d8;
    font-style: italic;
    color: #7a7a7a;
}

.info {
    column-count: 2;
    column-width: 100px;
    color: #f0e9d8;
    padding: 20px;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column1 {
    float: left;
    width: 35%;
    padding: 10px;
    height: 600px;
}

.column2 {
    float: left;
    width: 65%;
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.task a{
    color: #f0e9d8;
    text-decoration: none;
}

.check:hover {
    color: #a83256;
}

button.add {
    background-color: #f0e9d8;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    margin-right 1000px;
    margin-bottom: 50px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    box-shadow: 3px 3px #4797ff;

}
button.compile {
    background-color: #f0e9d8;
    border: none;
    font-size: 16px;
    border-radius: 15px;
    margin-top: 10px;
    outline
}

input {
    font-size: 16px;
    border: none;
    background-color: #f0e9d8;
    border-radius: 3px;
}

li {
    list-style-type: none
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 16px;
    background-color: #1a1b1c;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #24272d;
}

.schedule {
    width: 100%;
    height: 400px;
    overflow: scroll;
}
