h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 40px;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

body {
    background-color: #24272d;
    color: #f0e9d8;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.title {
    text-align: center;
    background-color: #1a1b1c;
    padding-top: 90px;
    border-bottom: 4px solid #f0e9d8;
}

.info {
    column-count: 2;
    column-width: 100px;
    color: #f0e9d8;
    padding: 20px;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column1 {
    float: left;
    width: 35%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.column2 {
    float: left;
    width: 65%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.task a{
    color: #f0e9d8;
    text-decoration: none;
}

.check a:hover {
    color: #a83256;
}

button {
    background-color: #f0e9d8;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
}

input {
    font-size: 16px;
    border: none;
    background-color: #f0e9d8;
    border-radius: 3px;
}

.check {
    font-size: 24px;
}

li {
    list-style-type: none;
}
