{% extends 'planner/base.html' %}
{% block content %}

<h2>my tasks</h2>

<p><a class="ml-2" href="{% url 'planner:add_task' %}">+ Add Task</a></p>
<p><a href=" {% url 'users:events' %} ">my events</a></p>

<br>
<ul>
{% for task in user.task_set.all %}
<div class="card">
  <button><a href="{% url 'users:task_details' task.id %}"></a></button>
  <strong><p>{{task.name|safe}}</p></strong>
  <!-- <p>User: {{task.user}}</p> -->
  <!-- <p>Notes: {{task.notes|safe}}</p> -->
  <!-- see Django's built-in template tags and filters for more ways to format properly -->
  <p>Category: {{task.get_category_display}}</p>
  <p>Date Added: {{task.getAddDate}}</p>
  <!-- <p>Date Due: {{task.getDueDate}}</p> -->
  <p>Expected Time for Completion: {{task.expTime}}</p>
  <!-- <p>Scheduled Times: {{task.times}}</p> -->
</div>
{% empty %}
  <p>you don't have any tasks</p>
{% endfor %}

<!-- GCal API code used to be here, was copied-and-pasted into settings.html -->
<!-- if putting back here, it should probably go outside the ul tags -->

</ul>

<br>
<p>
  <a class="ml-2" href="{% url 'planner:add_task' %}">+ Add Task</a>
</p>
<!-- <q cite=""></q> -->
{% endblock %}
