{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>plan it - password reset complete</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" defer>

</head>

<body>
    <div class="top">
        <div class="title">
            <h1>plan it.</h1>
        </div>
        <div class="subheading">
            <p>Password Reset Complete</p>
        </div>
    </div>
</body>
</html>
